.product {
  margin-bottom: 40px;
}

.product-content {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 80px;
}

.product-content h1 {
  margin-bottom: 20px;
  font-size: 80px;
  font-family: "Neonderthaw", cursive;
}

.product-content p {
  margin: 0 auto;
  max-width: 700px;
  font-size: 18px;
}

.product-list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px;
}

.product button {
  display: block;
  margin: 0 auto;
  padding: 15px 60px;
  border-radius: 50px;
  box-shadow: 0px 10px 13px -7px #000000;
  color: #fff;
  background-color: black;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .product-content {
    margin-bottom: 30px;
  }

  .product-content h1 {
    font-size: 40px;
  }

  .product-content p {
    font-size: 20px;
  }

  .product-list ul {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .product-list ul li {
    margin-bottom: 20px;
  }

  .product button {
    padding: 15px 30px;
    font-size: 18px;
  }
}
