.header {
  height: 1055px;
  background-image: url(../../imgs/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .header {
    height: 1000px;
  }
}
